
<% action_url = type == :signup ? users_url : session_url %>
<% button_val = type == :signup ? "Create Account" : "Login" %>

<form action="<%= action_url %>" method="post">
  <% unless flash[:errors].nil? %>
    <% flash[:errors].each do |error| %>
      <li> <%= error %> </li>
    <% end %>
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Email:
    <input type="text" name="user[email]" value="">
  </label>
  <br>

  <label>Password:
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  
  <input type="submit" value="<%= button_val %>">

</form>
