
<% action_url = type == :signup ? users_url : session_url %>
<% button_val = type == :signup ? "Create Account" : "Login" %>

<form action="<%= action_url %>" method="post">
  <%= render 'layouts/flash_errors' %>

  <%= authenticity_token_form %>

  <label>Email:
    <input type="text" name="user[email]" value="">
  </label>
  <br>

  <label>Password:
    <input type="password" name="user[password]" value="">
  </label>
  <br>

  <input type="submit" value="<%= button_val %>">

</form>
